.create {
    background-color: var(--_option-bg,transparent);
    color: var(--_option-color,inherit);
    cursor: var(--_option-cursor,pointer);
    font-size: var(--combobox-option-fz,var(--mantine-font-size-sm));
    opacity: var(--_option-opacity,1);
    padding: var(--_combobox-option-padding);
    word-break: break-word;
    font-weight: normal;

    &:hover:not([data-combobox-selected],[data-combobox-disabled]) {
        --_option-bg: var(--mantine-color-dark-7);
    }
}

.input {
    height: auto;
}

.option {
    border-radius: var(--mantine-radius-md);
}
