.root {
    cursor: pointer;

    &:hover {
        background-color: var(--mantine-color-dark-6); 
    }

    &:focus-visible {
        outline: calc(0.125rem * var(--mantine-scale)) solid
          var(--mantine-primary-color-filled);
        outline-offset: calc(0.125rem * var(--mantine-scale));
      }
}